// @tailwind base;
@tailwind components;
@tailwind utilities;
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.border {
  border: 1px solid #dadce0;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}

.header-component {
  position: relative;
  box-sizing: content-box;
  padding: 10px;
  height: 80px;
  width: 100;
  background-color: #dadce0;
  .search-box {
    width: 500px;
    height: 20px;
    border-radius: 40px;
  }
  .notification {
    cursor: pointer;
  }
}
